.fonts {
    color: orange;
    font-family: 'Comic Sans MS';
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}
.colors {
    color: red;
    font-weight: bold;
}
.more {
    color: blue;
    text-decoration: underline;
    border-width: 1px;
    border-color: gray;
    border-style: dashed;
    background-color: #D69BBE;
}
.backgrounds {
    color: green;
    font-family: 'Trebuchet MS';
    font-size: 1.25em;
}
