:root {
    --d-teal: #006d77;
    --m-teal: #83c5be;
    --l-teal: #edf6f9;

    --d-orange: #ac6c55;
    --m-orange: #e29578;
    --l-orange: #ffddd2;

    --d-gray: #495057;
    --m-gray: #6c757d;
    --l-gray: #adb5bd;
}

body {
    padding-top: 3rem;
    color: #5a5a5a;
  }
  
  .carousel {
    border-bottom: black;
    background-color: var(--d-gray);
  }

  .carousel-caption {
    top: 4.5rem;
    z-index: 10;
    margin-top: 35vh;
  }

  .carousel-caption h1 {
    background-color: var(--d-gray);
    opacity: 90%;
    border-radius: 10px;
    display: inline-block;
    padding: 0 10px 0 10px;
  }

  .carousel-caption p {
    background-color: var(--d-gray);
    opacity: 50%;
    border-radius: 10px;
    display: inline-block;
    padding: 0 8px 0 8px;
  }
  
  .carousel-item {
    height: 96vh;
  }
  
  .carousel-item img{
    height: auto;
    opacity: 80%;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .featurette img{
    border-radius: 15px;;
  }

  .bi{
    fill: var(--m-gray);
  }

  .slidebutton {
    fill: var(--m-gray);
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  