:root {
    --d-teal: #006d77;
    --m-teal: #83c5be;
    --ml-teal: #b6e7e3;
    --l-teal: #edf6f9;

    --d-orange: #ac6c55;
    --m-orange: #e29578;
    --l-orange: #ffddd2;
    --xl-orange: #fff4f0;

    --d-gray: #495057;
    --m-gray: #6c757d;
    --l-gray: #adb5bd;
    --xl-gray: #e0e4e7;
}

.backgroundimg {
  display: block;
  position: relative;
}

.backgroundimg::after {
  content: "";
  background: url('../media/pixabay-ornamental.png');
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.sectioncontent {
  background-color: var(--l-gray);
  border-radius: 15px;
}

.storeimg img{
  width: 100%;
  max-height: 130px;
  border-radius: 15px;
}

.layout-social .layout-icon {
  font-size: 2em;
}

.layout-icon:hover {
 color: var(--m-gray);
}

a {
  text-decoration: none;
 }
 
.sectiontitle {
text-align: center;
}

.sectiontitle h1{
  background-color: var(--d-gray);
  color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

