/*  Atlee Hlavinka
    04/14/2021  */

/* FONT */

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../font/Source_Sans/sourcesanspro-regular-webfont.woff2') format('woff2'),
            url('../font/Source_Sans/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* HTML */
html {
    background-color:antiquewhite;
}

/* HEADER */
header img {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
    border-style: dotted;
    border-radius: 50%;
    float: left;
    height: 160px;

}
header h1 {
    font-size: 3em;
    font-family: 'Lora', "Times New Roman", sans-serif;
    color: black;
}

/* CLASS & ID */
#outerwrapper {
    background:rgb(108, 137, 172);
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.textbox {
    height: 500px;
    color:rgb(18, 31, 102);
    background-color: antiquewhite;
    margin-left: 50px;
    margin-right:50px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    text-align: left;
}
.textbox img {
    width: 80%;
    height: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

/* NAVIGATION */

nav {
    padding-top: 20px;
    padding-right: 40px;
}
nav ul li {
    background-color: rgb(18, 31, 102);  
    font-size: 1.1em;
    padding: 10px 0;
    text-align: center; 
    display: block;
	width: 20%;
	float: left;
}
nav a {
    text-decoration: none;
    color: antiquewhite;
}
nav ul li a:hover{
    color: rgb(131, 131, 131);
}
nav a:visited {
    color: rgb(147, 158, 216);
}
nav ul li a:active {
    color: rgb(243, 243, 136);
}

/* MAIN */

main {
    text-align: center;
}

main p {
    font-family: source_sans_proregular, "Times New Roman", sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
}

/* FORM */

form {
    text-align: left;

    font-size: 1.2em;
    border: 0px;
}
fieldset {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed black;
    margin-bottom: 40px;
}
input, textarea {
    background-color: antiquewhite;
}

 /* FOOTER */

footer {
    text-align: center;
    font-family: 'Lora', "Times New Roman", sans-serif;
}
hr {
    width: 80%;
    border: 1px double black;
}

