/* Main Classes */

html, body {
    background-color:rgb(250, 240, 230, 0.5);
    background-image: url("../media/bagelback.png");
    background-repeat: repeat;
}

main {
    margin-bottom: 50px;
}

p {
    font-size: 1.2em;
    font-family: 'Alex Brush', cursive;
}

footer i {
    padding: 20px;
}

footer p {
    margin-top: 20px;
}

span {
    color: red;
}

dd, dl {
    text-align: center;
    color: red;
}

/* Jumbotron Classes */

.jumbotron {
    min-height: 200px;
}

.bg-red {
    background-color:rgba(87, 85, 85, 0.75);
    background-image: url('../media/logo4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    max-height: 100%;
    display: block;
}

.bg-red-footer {
    background-color:rgba(87, 85, 85, 0.75);
}

/* Navigation Classes */

.home_bagel {
    display: block;
    height: 40px;
    width: 40px;
}

.bg-light-blue {
    background-color:rgba(30, 45, 46, 0.95);   
    font-size: 1.25em;
}

.nav-item {
    margin-right: 5px;
}

/* Body Classes */

.welcome-message {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2.5em;
}

.reservation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bg-white {
    background-color:rgba(247, 243, 239, 0.9) !important ;
    padding-top: 10px;
    width: 95%;
    min-height: 200px;
    max-width: 1250px;
}

.bg-white h2 {
    font-family: 'Alex Brush', cursive;
    font-weight: 800;
    font-size: 3em;
}

.bg-white h3 {
    font-family: 'Alex Brush', cursive;
    font-weight: 800;
    font-stretch: 150%;
}

/* Modal Classes */

.modal-header, .modal-footer {
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
}

.modal-header {
    background-image: url('../media/bagel1.jpg');
    background-position: top;
}

.modal-footer {
    background-image: url('../media/bagel1.jpg');
    background-position: bottom;
}

.modal-title {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: auto;
}

/*Image Styling Class*/

.customimg {
    max-width: 90%;
    border-color: black;
    border-width: 5px;
    box-shadow:0px -1px 2px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}

/* Page Styling Class */

.pagebreak {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
}

.requirement {
    color: red;
}

/* FAQS */
/* #faqs h3 {
    background-image: url('../media/add (1).png');
    background-repeat: no-repeat;
    display: block;
    background-position-y: 7px;
    padding-left: 30px;
    margin-top: 40px;
    }

#faqs h3.minus {
    background-image: url('../media/minus (1).png');
    background-repeat: no-repeat;
    background-position-y: 7px;
    padding-left: 30px;
    display: block;
    } */

#faqs h3 {
    font-size: 1.5em;
    background-color: rgba(87, 85, 85, 0.50);
}

#faqs div {
    background-color: rgba(87, 85, 85, 0.15);
}


/* Carousel */



/* Media Query for Mobile Viewport */
@media (max-width: 575px) { 
    .mobile {
        display: block;
    }
    img {
        display: none;
    }
    .tablet-desktop {
        display: none;
    }
    .navspace {
        display: none;
    }
    #navbarResponsive button {
        display: none;
    }
    form span {
        display: none;
    }
    #contactform{
        margin-left: 40px;
    }
}

/* Media Query for Tablet Viewport */
@media (min-width: 576px) {  

    main {
        min-height: 500px;
    }
    
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
}

