/* Main Classes */

html {
    background-image: url('../images/Background.jpg');
    background-position: center center;
}

html, body {
    background-color:rgb(250, 240, 230, 0.5);
}

main {
    margin-bottom: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

footer i {
    padding: 20px;
}

footer p {
    margin-top: 20px;
}

/* Jumbotron Classes */

.jumbotron {
    min-height: 200px;
}

.bg-red {
    background-color:rgba(87, 85, 85, 0.75);
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bg-red-footer {
    background-color:rgba(87, 85, 85, 0.75);
}

/* Navigation Classes */

.home_rav {
    display: block;
    height: 40px;
    width: 40px;
}

.bg-light-blue {
    background-color:rgba(30, 45, 46, 0.95);   
    font-size: 1.25em;
}

.nav-item {
    margin-right: 5px;
}

/* Body Classes */

.welcome-message {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 3em;
}

.cursive {
    font-family: 'Damion', cursive;
}

.reservation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bg-white {
    background-color:rgb(247, 231, 211, 0.9) !important ;
    padding-top: 100px;
    width: 100%;
    min-height: 200px;
    max-width: 1250px;
    padding-right: 50px;
}

.bg-white h2 {
    font-family: 'Alex Brush', cursive;
    font-weight: 800;
    font-size: 3em;
}

.bg-white h3 {
    font-family: 'Alex Brush', cursive;
    font-weight: 800;
    font-stretch: 150%;
}

/* Modal Classes */

.modal-header, .modal-footer {
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
}

.modal-header {
    background-image: url('../images/modal.jpg');
    background-position: top;
}

.modal-footer {
    background-image: url('../images/modal.jpg');
    background-position: bottom;
}

.modal-title {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: auto;
}

/*Image Styling Class*/

.customimg {
    max-width: 90%;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    box-shadow:0px -1px 2px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}

/* Page Styling Class */

.pagebreak {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
}

/* Scroll Class*/

.scroll {
    background-color: #fed9ff;
    max-width: 1250px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }

/* Menu */

.menucategory {
    text-align: left;
    font-family: 'Alex Brush', cursive;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.5em;
    margin-top: 30px;
}

.menuitem {
    float: left;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.menuprice {
    float: right;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.menudescription {
    clear: both;
    text-align: left;
    margin-top: 0px;
    font-size: 0.8em;
}

/* Carousel */

.carousel {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.carousel img {
    max-height: 620px;
    max-width: 1440px;
}



/* Media Query for Mobile Viewport */
@media (max-width: 575px) { 
    .mobile {
        display: block;
    }
    img {
        display: none;
    }
    .tablet-desktop {
        display: none;
    }
    .navspace {
        display: none;
    }
}

/* Media Query for Tablet Viewport */
@media (min-width: 576px) {  

    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
}

